<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if plant is defined %}Edit: {{ plant.name }} ({{ plant.catalog }}){% else %}New plant{% endif %}</title>
    <link rel="stylesheet" href="https://latex.now.sh/style.min.css" />
</head>
<body>

    <h1>{% if plant is defined %}{{ plant.name }} ({{ plant.catalog }}){% else %}New plant{% endif %}</h1>

    <form action="{% if plant is defined %}{{ url_for('update', plant_id=plant.id) }}{% else %}{{ url_for('create') }}{% endif %}" method="post" enctype="multipart/form-data">
        <dl>
            <dt>Name</dt>
            <dd><input type="text" name="name" value="{{ plant.name if plant is defined }}" placeholder="Plant name" required></dd>
            <dt>Scientific name (Latin)</dt>
            <dd><input type="text" name="scientific" value="{{ plant.scientific if plant is defined and plant.scientific }}" placeholder="Scientific name" required></dd>
            <dt>Description</dt>
            <dd><textarea name="description" rows="4" cols="65" placeholder="Plant description">{{ plant.description if plant is defined }}</textarea></dd>
            <dt>Images</dt>
            <dd><label for="leaf_image">Leaf:</label> <input type="file" name="leaf_image" id="leaf_image">{{ plant.leaf_image if plant is defined }}</dd>
            <dt>Catalog</dt>
            <dd>
                <select name="catalog">
                    <option value="">(select catalog)</option>
                    <option value="Fabio" {% if (plant is defined and plant.catalog == 'Fabio') or (user is defined and user == 'fabio') %}selected{% endif %}>Fabio</option>
                    <option value="Jafet" {% if (plant is defined and plant.catalog == 'Jafet') or (user is defined and user == 'jafet') %}selected{% endif %}>Jafet</option>
                </select>
            </dd>
        </dl>
        <p>
            <button type="submit">{% if plant is defined %}Update{% else %}Create{% endif %}</button>
            <a href="{{ url_for('home') }}"><button type="button">Cancel</button></a>
        </p>
    </form>

</body>
</html>
